fastapi==0.63.0
uvicorn==0.13.3
pydantic[email]

bson==0.5.10

motor==2.3.0 # An asynchronous MongoDB driver, to interact with the database.
dnspython==2.1.0

python-decouple==3.4 # Environmental variables lib